<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="E SKILL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eskill"
        tools:targetApi="31">
        <activity
            android:name=".semua_kategori"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".detail_kategori"/>
        <activity android:name=".detail_sub_kategori"/>
        <activity android:name=".detail_kelas_pelatihan_sebelum_bayar"/>
        <activity android:name=".pembayaran"/>
        <activity android:name=".metode_pembayaran"/>
        <activity android:name=".pembayaran_berhasil"/>
        <activity android:name=".detail_kelas_pelatihan_sudah_bayar"/>
        <activity android:name=".video_berhasil_ditambahkan"/>
        <activity android:name=".kelas_saya"/>
        <activity android:name=".video"/>
        <activity android:name=".ProfileActivity"/>

    </application>

</manifest>